<style>
    .moduleimageborder {
        border-bottom:1px solid grey;
    }

    .legroom {
        margin-top:5px;
        margin-bottom:5px;
    }
 
</style>

<section class="home about" style="margin-bottom:100px;">
    <div class="slider-relative">
        <nav class="navbar navbar-default nav-header">
            <div class="container" id="latureTop">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-list-main" id="bs-example-navbar-collapse-1">
                    <div class="col-sm-12 col-md-12">
                        <ul class="nav navbar-nav navbar-center">
                            <li class="li-1"><a class="a-1" href="#/home">Home <span class="sr-only">(current)</span></a></li>
                            <li class="li-1"><a class="a-1" href="#/about">About GynAc</a></li>
                            <li class="li-1"><a class="a-1" href="#/course">Course</a></li>
                            <li class="li-1 state-active"><a class="a-1" href="#/lecture">Lectures</a></li>
                            <li class="li-1"><a class="a-1" href="#/faculty">Faculty</a></li>
                            <!--<li class="dropdown li-1"><a class="a-1" href="javascript:;">My Page</a>
                            <ul class="dropdown-menu">
                                <li class="li-2"><a class="a-2" href="#/myProfile">My Profile</a></li>
                                <li class="li-2"><a class="a-2" href="#/training">Training Detail</a></li>
                            </ul>
                        </li>-->
                            <li class="li-1"><a class="a-1" href="#/contact">Contact</a></li>
                            <!--<li class="li-1">
                            <a class="a-1" style="visibility: hidden;" href="javascript:;"></a>
                        </li>-->
                            <li class="li-1"><a class="a-1" href="#/signIn" ng-hide="authenticatedUser.UserInfo.First_Name">Login</a></li>
                            <li class="dropdown li-1">
                                <a class="a-1" href="javascript:;" ng-show="authenticatedUser.UserInfo.First_Name">{{authenticatedUser.UserInfo.First_Name}}</a>
                                <ul class="dropdown-menu">
                                    <li class="li-2"><a class="a-2" href="#/myProfile">My Profile</a></li>
                                    <li class="li-2"><a class="a-2" href="#/training">Training Detail</a></li>
                                    <li class="li-2" ng-click="signOut()"><a class="a-2" href="javascript:;">Signout</a></li>
                                </ul>
                            </li>
                            <li class="dropdown li-1">
                                <a class="a-1" href="javascript:;" ng-click="getAllNotification()">
                                    <i class="fa fa-bell" aria-hidden="true" ng-show="authenticatedUser.UserInfo.First_Name">{{notificationCount.length}}</i>
                                </a>
                            </li>
                            <li class="li-3">
                                <a href="https://www.facebook.com/Gynecology-Academy-1776711995945554Gynecology-Academy-1776711995945554" class="btn btn-social-icon btn-facebook" target="_blank"> <i class="fa fa-facebook"></i></a>
                            </li>
                            <!--<li class="li-3"><a class="btn btn-social-icon btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li class="li-3"><a class="btn btn-social-icon btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="container">
            <div class="row page-header banner-page">
                <div class="col-sm-12 col-md-3 sm-center"><img src="gynacApp/local/img/logo.png" alt="logo" /> </div>
                <div class="col-sm-12 col-md-7 sm-center">
                    <h2>ULTRASOUND IN GYNECOLOGY</h2>
                    <h2>4 - MONTH CERTIFICATION COURSE</h2>
                </div>
                <div class="col-sm-12 col-md-2 sm-center">
                    <div class='btn-toolbar pull-right'>
                        <div class='btn-group'> <a href="#/course" class="btn btn-primary btn-custom"><span class="glyphicon glyphicon-check"></span> APPLY NOW</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container about-body">
        
        <div class="row about-header">            
            <div class="col-md-9"><h4 class="text-center magenta"><strong>{{ moduleImages[0].ModuleName}}</strong></h4></div>
            <div class="col-md-3">
                <div class='btn-toolbar pull-right' style="margin-right: 45px;">
                    <div class='btn-group'> <a href="#/lecture" class="btn btn-primary btn-custom">Back To lecture</a></div>
                </div>
            </div>
        </div>
        <div class="row about-header">
            <div class="col-md-12">
                <p>{{ moduleImages[0].ModuleDesc}}</p>
            </div>            
        </div>  
        <hr />  
        
        <div class="row about-header">
            <div class="col-md-12">
                <div class="row" ng-if="moduleImages.length == 0">
                    <div class="col-md-12">
                        <p>Image submission will be available shortly.</p>
                    </div>
                </div> 
                <div ng-repeat="imgdata in moduleImages" class="moduleimageborder">
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{ imgdata.ModuleImageDesc}}</p>
                        </div>
                    </div>

                    

                    <div class="row legroom">
                        <div class="col-md-6">
                            <!--<img ng-click="openBigImageModal(imgdata.SampleImage, $index)" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" class="imagepointer" src="{{imgdata.SampleImage}}" style="width:226px;height:174px">-->
                            <a ng-click="openBigImageModal(imgdata.SampleImage)" data-toggle="modal" data-target="#imagemodal" data-backdrop="static" data-keyboard="false"><img class="imagepointer" ng-src="{{imgdata.SampleImage }}" alt="Upload Image" style="width:226px;height:174px"></a>                                        
                            <!--<a href="#" class="pop" ng-click="openBigImageModal(imgdata.SampleImage)">
                                <img src="{{imgdata.SampleImage}}" style="width:226px;height:174px">
                            </a>-->
                            <!--<div class="item">
                                <img ng-src="{{imgdata.SampleImage}}" alt="Upload Image" style="width:226px;height:174px">

                                <div class="item-overlay top"></div>
                            </div>-->
                            
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">                                    
                                    <img ng-src="../../../../Images/images.jpg" alt="Upload Image" style="width:226px;height:174px" ng-show="imgdata.UserImageId === 0">                                        
                                        <a ng-click="openBigImageModal(imgdata.UserImage)" data-toggle="modal" data-target="#imagemodal" data-backdrop="static" data-keyboard="false"><img class="imagepointer" ng-src="{{imgdata.UserImage }}" alt="Upload Image" style="width:226px;height:174px" ng-show="imgdata.UserImageId !== 0"></a>                                        
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="file" name="{{$index}}" onchange="angular.element(this).scope().uploadFile(this);" ng-disabled="imgdata.IsStatus === 'IsAccepted'" />
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <span>Comment : </span>{{ imgdata.Comment }}<span ng-if="imgdata.Comment === null">NA</span>
                                    <br />
                                    <span>
                                        Review :
                                    </span>
                                    <span ng-if="imgdata.IsStatus === 'IsPending'">NA</span>
                                    <i class="fa fa-check-square text-success" aria-hidden="true" ng-if="imgdata.IsStatus === 'IsAccepted'"></i>
                                    <i class="fa fa-close text-danger" aria-hidden="true" ng-if="imgdata.IsStatus === 'IsRejected' "></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>   
        
        

    </div>    

    <div class="modal fade model-center" id="imagemodal">
        <div class="modal-dialog modal-xxl" style="width:80%">
            <div class="modal-content">
                <div class="modal-header">
                    <span>&nbsp;</span>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <img src="" id="imagepreview">
                </div>
            </div>
        </div>
    </div>    
</section>

