<section class="home training">
	<!--<div class="" ng-hide="lecture">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal" ng-click="closeCounterModel()">&times;</button>
				<h3 class="modal-title">{{currentLecture.title}}</h3> </div>
			<div class="modal-body" ng-init="checkedTermsCondition = false">
				<div>
					<h4>Your lecture is being prepared. Please wait for 
							<span style="font-size: 22px; color:#9F1F63 "><b>{{counter}}</b></span>
							<span style="font-size: 22px; color:#9F1F63"><b>seconds</b></span>
                        </h4> </div>
				<br>
				<div>
					<h4>Meanwhile, please go through the following</h4>
					<br>
					<ul style="margin-left: 20px; font-weight: 200; line-height: 1.8;" class="coundown-model-ul">
						<li>For viewing the video you will need a good and stable internet <span ng-dblclick="counter = 1">speed.</span></li>
						<li>You will be able to pause and resume the lecture at any time using the below icons
							<br> <i class="fa fa-play-circle-o" aria-hidden="true" style="font-size: 30px; pointer-events: none;"></i> <i class="fa fa-pause" aria-hidden="true" style="font-size: 30px;    margin-left: 10px; pointer-events: none;"></i> </li>
						<li>You can switch backword / forward to any slide by using the 2 arrows in the slider control and then clicking on the desired slide thumbnail.
							<br> <img src="gynacApp/local/img/rtModel.png" alt="" /> <img src="gynacApp/local/img/ltModel.png" alt="" style="margin-left: 50px;" /> </li>
						<li>You can toggle between enlarged and normal slide view by clicking:
							<br> <img src="gynacApp/local/img/expand.png" style="    margin-left: 12px;" class="" width="50px"> <img src="gynacApp/local/img/collapse.png" style="margin-left: 25px;" class="" width="50px"> </li>
						<li>For any clarifications related to the subject of the lecture, please email the author</li>
						<li>For any technical assistance, please email support@gynac.org</li>
						<li>Downloading / Printing / Reproducing of any content is strictly prohibited</li>
					</ul>
				</div>
			</div>
			<div class="modal-footer open-lec" style="display:none">
				<button type="button" class="btn btn-default play-audio selecteditem " data-dismiss="modal" id="playTriggerBtn" ng-disabled="checkedTermsCondition == false">I AGREED</button>
			</div>
		</div>
	</div> ng-show="lecture" -->
	<div class="training-body" style="padding:10px; margin:0px" ng-init="slide('next')">
        <div class="modal-header text-center" style="border: none;">
            <div style="position: fixed; z-index: 9; width: 100%; height: 100%; left: 0px; top:55px" id="isAudioStart">
                <img src="gynacApp/local/img/loader.gif" style=" width: 20%; margin-top: 25%; background: rgba(0,0,0,0.6);">
            </div>
			<button type="button" class="close" ng-click="modalClose()" data-dismiss="modal">&times;</button></div>
		<div ng-show="fullview"> 
           <!-- <span>
						<i class="fa fa-arrow-left back-btn" ng-click="modalClose()" style="font-size:43px; padding-bottom: 15px;" aria-hidden="true"></i>
					</span>-->
			<div class="row">
				<div class="col-sm-4 col-md-3"> <img ng-src="{{currentLecture.profilePicSrc}}" alt="Dr.image" style="width:90%">
					<audio id="playAudio">
						<source type="audio/mpeg"> Your browser does not support the audio element. </audio>
					<h3 style="margin:10px 0px" ng-bind="currentLecture.DrName"></h3>
					<p style="margin:10px 0px; font-size: 16px;" ng-bind="currentLecture.emailId"></p>
					<div class="video-pay-pause"> 
                        <i class="fa fa-play-circle-o play play-pause-disable" ng-click="playAudio()" aria-hidden="true"></i> 
                        <i class="fa fa-pause pause" aria-hidden="true"></i> 
                        <i class="fa fa-arrows-alt" aria-hidden="true" ng-click="fullview = false"></i>
                        <p class="time"></p> </div>
				</div>
				<div class="col-sm-8 col-md-9 speaker-biography display-none lecture">
					<div class="slide-screen"> <img class="img" alt="" />
						<div class="video-container normalview">
							<video id="subVideo"> </video>
						</div>
					</div>
					<div class="carrousal">
						<div class="arrow left left-arrow"> <img src="gynacApp/local/img/lt.png" alt="" /> </div>
						<div class="strip left">
							<div class="strip-container"> </div>
						</div>
						<div class="arrow right right-arrow" ng-click="rightBtnClick()"> <img src="gynacApp/local/img/rt.png" alt="" /> </div>
					</div>
				</div>
			</div>
		</div>
		<div ng-hide="fullview">
			<div class="row">
				<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 speaker-biography display-none lecture">
					<div class="slide-screen" style="height: 550px"> <img src="" style="height: 100%; margin: 0 auto; display: block;" class="img" alt="" /> <!--<img src="gynacApp/local/img/collapse.png" class="expand" ng-click="fullview = true" alt="" />-->
						<div class="video-container fullview">
							<video class="subVideo fullViewVideo"> </video>
						</div>
					</div>
				</div>
				<div class="video-pay-pause" style=" text-align: center; margin-bottom: 50px;"> <i class="fa fa-play-circle-o play play-pause-disable" ng-click="playAudio()" aria-hidden="true"></i> <i class="fa fa-pause pause" aria-hidden="true">
                    
                    </i> <i class="fa fa-external-link" aria-hidden="true" ng-click="fullview = true"></i><span class="time"></span> </div>
			</div>
		</div>
	</div>
	<!--Sign in  first modal-->
	<!-- Trigger the modal with a button -->
	<button type="button" class="btn btn-info btn-lg" id="triggerRequiredSigninModal" data-toggle="modal" data-target="#RequiredSigninSignInModal" style="display:none">Open Modal</button>
	<!-- Modal -->
	<div id="RequiredSigninSignInModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">Sign In</h3> </div>
				<div class="modal-body">
					<p class="text-center">Sign in required!! </p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="goToLogin()">Sign In</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Payment successfully modal with a button -->
	<button type="button" class="btn btn-info btn-lg" id="triggerPaymentSuccessfully" data-toggle="modal" data-target="#PaymentSuccessfully" style="display:none">Open Modal</button>
	<!-- Modal -->
	<div id="PaymentSuccessfully" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">Payment</h3> </div>
				<div class="modal-body">
					<p class="text-center">payment successfully done</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Payment Error modal with a button -->
	<button type="button" class="btn btn-info btn-lg" id="triggerPaymentError" data-toggle="modal" data-target="#PaymentError" style="display:none">Open Modal</button>
	<!-- Modal -->
	<div id="PaymentError" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title" style="color:red">Payment</h3> </div>
				<div class="modal-body">
					<p class="text-center" style="color:red">Payment Error!!</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Terms and condition the modal with a button -->
	<button type="button" class="btn btn-info btn-lg" id="triggerLectureTermsAndConditions" data-toggle="modal" data-target="#LectureTermsAndConditions" style="display:none">Open Modal</button>
	<!-- Modal -->
	<div id="LectureTermsAndConditions" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">Terms & Conditions</h3> </div>
				<div class="modal-body" ng-init="checkedTermsCondition = false">
					<div id="contentFromHome"></div>
					<br> </div>
				<div class="modal-footer">
					<input type="checkbox" ng-model="checkedTermsCondition"> <span><b>I HAVE READ AND AGREE TO THE ABOVE TERMS AND CONDITIONS</b></span>
					<button type="button" class="btn btn-default selecteditem " data-dismiss="modal" ng-click="playAfterTerms()" ng-disabled="checkedTermsCondition == false" style="    margin-left: 15px;">I AGREE</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Countdown  the modal with a button -->
	<button type="button" class="btn btn-info btn-lg" id="triggerCountdown" data-toggle="modal" data-target="#Countdown" style="display:none">Open Modal</button>
	<!-- Modal -->
	<div id="Countdown" class="modal fade" role="dialog" data-backdrop="static">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal" ng-click="closeCounterModel()">&times;</button>
					<h3 class="modal-title">{{currentLecture.title}}</h3> </div>
				<div class="modal-body" ng-init="checkedTermsCondition = false">
						<h4>Your lecture is being prepared. Please wait for 
							<span style="font-size: 22px; color:#9F1F63"><b>{{counter}}</b></span>
							<span style="font-size: 22px; color:#9F1F63"><b>seconds</b></span>
                        </h4>
					<div>
						<h4>Meanwhile, please go through the following</h4>
						<br>
						<ul style="margin-left: 20px; font-weight: 200; line-height: 1.8;" class="coundown-model-ul">
							<li>For viewing the video you will need a good and stable internet <span ng-dblclick="counter = 1">speed.</span></li>
							<li>You will be able to pause and resume the lecture at any time using the below icons
								<br> <i class="fa fa-play-circle-o" aria-hidden="true" style="font-size: 30px; pointer-events: none;"></i> <i class="fa fa-pause" aria-hidden="true" style="font-size: 30px;    margin-left: 10px; pointer-events: none;"></i> </li>
							<li>You can switch backword / forward to any slide by using the 2 arrows in the slider control and then clicking on the desired slide thumbnail.
								<br> <img src="gynacApp/local/img/rtModel.png" alt="" /> <img src="gynacApp/local/img/ltModel.png" alt="" style="margin-left: 50px;" /> </li>
							<li>You can toggle between enlarged and normal slide view by clicking:
								<br> <img src="gynacApp/local/img/expand.png" style="    margin-left: 12px;" class="" width="50px"> <img src="gynacApp/local/img/collapse.png" style="margin-left: 25px;" class="" width="50px"> </li>
							<li>For any clarifications related to the subject of the lecture, please email the author</li>
							<li>For any technical assistance, please email <a href="mailto:support@gynac.org?Subject=Hi%20Heloo%20Hi%20subject" target="_top">support@gynac.org</a></li>
							<li>Downloading / Printing / Reproducing of any content is strictly prohibited</li>
						</ul>
					</div>
				</div>
				<div class="modal-footer open-lec" style="display:none">
					<button type="button" class="btn btn-default play-audio selecteditem " data-dismiss="modal" id="playTriggerBtn" ng-disabled="checkedTermsCondition == false">I AGREED</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Sub Countdown  the modal with a button -->
	<button type="button" class="btn btn-info btn-lg" id="triggerSubCountdown" data-toggle="modal" data-target="#SubCountdown" style="display:none">Open Modal</button>
	<!-- Modal -->
	<div id="SubCountdown" class="modal fade" role="dialog" data-backdrop="static">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header text-center">
					<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
					<h3 class="modal-title">Countdown</h3> </div>
				<div class="modal-body" ng-init="checkedTermsCondition = false">
					<div class="text-center">
						<h1>opening in</h1> <span style="font-size: 50px"><b id="subcounter1">5</b></span> </div>
				</div>
				<div class="modal-footer" style="display:none">
					<button type="button" class="btn btn-default selecteditem " data-dismiss="modal" id="playSubTriggerBtn"></button>
				</div>
			</div>
		</div>
	</div>
	<!-- Country have no payment  the modal with a button -->
	<button type="button" class="btn btn-info btn-lg" id="triggerNoPayment" data-toggle="modal" data-target="#NoPayment" style="display:none">Open Modal</button>
	<!-- Modal -->
	<div id="NoPayment" class="modal fade" role="dialog" data-backdrop="static">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header text-center">
					<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
					<h3 class="modal-title">Payment</h3> </div>
				<div class="modal-body" ng-init="checkedTermsCondition = false">
					<div class="text-center">
						<h5 style="text-align: center;">Your registered country does not have an online payment option. 
                        Please email us at support@gynac.org for other payment options.</h5> </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default selecteditem " data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Country have no payment  the modal with a button -->
	<button type="button" class="btn btn-info btn-lg" id="triggerLateBuy" data-toggle="modal" data-target="#LateBuy" style="display:none">Open Modal</button>
	<!-- Modal -->
	<div id="LateBuy" class="modal fade" role="dialog" data-backdrop="static">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">Payment</h3> </div>
				<div class="modal-body">
					<div class="text-center">
						<h5 style="text-align: center;">This site is going live and will accept payments from 7th Nov 2016. Please buy the talks from 7th Nov.</h5>
						<br>
						<h5 style="text-align: center;">Please email at 
                            <a href="mailto:support@gynac.org?Subject=Hi%20Heloo%20Hi%20subject" target="_top">support@gynac.org</a>
                            for any clarifications.</h5> </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default selecteditem " data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Country have no payment  the modal with a button -->
	<button type="button" class="btn btn-info btn-lg" id="triggerUnderDevelopment" data-toggle="modal" data-target="#underDevelopment" style="display:none">Open Modal</button>
	<!-- Modal -->
	<div id="underDevelopment" class="modal fade" role="dialog" data-backdrop="static">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">Under Development</h3> </div>
				<div class="modal-body">
					<div class="text-center">
						<p>This Talk in under development</p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default selecteditem " data-dismiss="modal">Ok</button>
				</div>
			</div>
		</div>
	</div>
</section>