<!doctype html>
<html ng-app="gynacApp">
<head>
    <title>Gynac</title>
    <meta charset="utf-8" />
    <meta name="author" content="Istep Up" />
    <meta http-equiv="X-UA-compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=4, user-scalable=no">

    <link href="gynacApp/local/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="gynacApp/local/css/style.css" rel="stylesheet" type="text/css">
    <link href="gynacApp/local/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>*@
    <script src="gynacApp/vendor/lib/underscore.js"></script>

    <script type="text/javascript" src="gynacApp/vendor/lib/angular.min.js"></script>
    
    <script type="text/javascript" src="gynacApp/vendor/lib/angular-ui-router.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.4/angular-filter.min.js"></script>*@
    


    <script type="text/javascript" src="gynacApp/local/config/config.js"></script>
    <script type="text/javascript" src="gynacApp/local/commonService/service.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/main/mainController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/about/aboutController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/contact/contactController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/faculty/facultyController.js"></script>
    

    <script type="text/javascript" src="gynacApp/local/controller/home/homeController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/course/courseController.js"></script>
	<script type="text/javascript" src="gynacApp/local/controller/lecture/lectureController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/lecture/lectureModalController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/myProfile/myProfileController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/signIn/signInController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/signUp/signUpController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/training/trainingController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/lecture/videoModalController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/lecture/questionModelController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/lecture/ImageSubmissionController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/lecture/ImageSubmissionController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/testimonial/testimonialController.js"></script>
    <script type="text/javascript" src="gynacApp/local/controller/lecture/freeLectureController.js"></script>

    <!--<script type="text/javascript" src="gynacApp/local/controller/secondPage/secondpageController.js"></script>-->
    <script src="gynacApp/vendor/lib/jquery-1.11.3.min.js"></script>
    <script src="gynacApp/vendor/lib/bootstrap.min.js"></script>
    <script src="gynacApp/vendor/lib/ui-bootstrap.min.js"></script>
    <script src="gynacApp/vendor/lib/ui-bootstrap-tpls.min.js"></script>
    <script src="gynacApp/vendor/lib/angular-filter.js"></script>

    
</head>
<body ng-controller="mainCtrl">

</body>
@*<script type="text/javascript">
    window.onload = function () {
        document.onkeydown = function (e) {
            switch (event.keyCode) {
                case 116: //F5 button
                    event.returnValue = false;
                    event.keyCode = 0;
                    return false;
                case 82: //R button
                    if (event.ctrlKey) {
                        event.returnValue = false;
                        event.keyCode = 0;
                        return false;
                    }
            }
        };
    }
</script>*@
</html>