<div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="vmc.cancel()"> <span aria-hidden="true">&times;</span> </button>
        <h4 class="modal-title">Three Dimensional Ultrasound in Gynecology</h4>
        <small ng-if="!display" style="color:red;">You do not have access to view this talk, Please contact at support@gynac.org or click here to enroll -> You are currently watching a preview. To access the entire talk, please contact at support@gynac.org or call us at +91 9325890820</small>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <ul id="accordion" class="accordion">
                        <li>
                            <div class="col_4 pic">
                                <img class="img-responsive profilepic" alt="Mala Sibal" src="gynacApp/local/img/profile01.png">

                                <div class="username">
                                    <h3>Mala Sibal</h3>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="link"><i class="fa fa-envelope"></i>Assistance<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu">
                                <div>
                                    <p class="text">Drop me a mail, if you need any help. / time / assistance / support</p>
                                    <form action="" method="">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="mail" placeholder="mala.sibal@gmail.com" disabled>
                                        </div>
                                        <div class="form-group">
                                            <textarea rows="5" class="form-control" ng-model="inputMessage" maxlength="200"></textarea>
                                            <p>{{ 200 - inputMessage.length + ' Char' }}</p>
                                        </div>
                                        <button type="button" ng-click="updateVideoComment()"  class="btn btn-primary cust-btn"><i class="fa fa-paper-plane left-none inner"></i> Send</button>
                                    </form>
                                </div>
                            </ul>
                        </li>
                        <li>
                            <div class="link"><i class="fa fa-bookmark"></i>Bookmark Your Time<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu">
                                <div>
                                    <p class="bookmark-text">You want to take a break?, just save the interval time.</p>
                                    <form action="" method="">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="starttime" placeholder="interval name">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="starttime" placeholder="Time" value="4.25">
                                        </div>
                                        <button type="submit" class="btn btn-primary cust-btn"><i class="fa fa-floppy-o left-none inner"></i> Save</button>
                                    </form>
                                </div>
                            </ul>
                        </li>
                        <li>
                            <div class="link"><i class="fa fa-clock-o"></i>Bookmark List<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu">
                                <li>
                                    <div>
                                        <button class="tags">August05 2017 11.15AM</button>
                                        <button class="tags">August11 2017 8.05PM</button>
                                        <button class="tags">Today's Morning</button>
                                        <button class="tags">Last Night</button>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="link"><i class="fa fa-star-o"></i>Rating List<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu">
                                <li>
                                    <div class="star">
                                        <div class="review-block-title">AAAAAAAA</div>
                                        <div class="review-block-rate">
                                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </button>
                                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </button>
                                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </button>
                                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </button>
                                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </button>
                                        </div>
                                        <div class="review-block-title">BBBBBBBBBB</div>
                                        <div class="review-block-rate">
                                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </button>
                                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </button>
                                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </button>
                                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </button>
                                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </button>
                                        </div>
                                        <div class="review-block-title">CCCCCCCCC</div>
                                        <div class="review-block-rate">
                                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </button>
                                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </button>
                                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </button>
                                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </button>
                                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align"> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <iframe src="https://player.vimeo.com/video/229375122" width="750" height="613" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

</div>