<section class="home training" style="padding-bottom:120px;">
    <div class="slider-relative">
        <nav class="navbar navbar-default nav-header">
            <div class="container" id="courceTop">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-list-main" id="bs-example-navbar-collapse-1">
                    <div class="col-sm-12 col-md-12">
                        <ul class="nav navbar-nav navbar-center">
                            <li class="li-1"><a class="a-1" href="#/home">Home <span class="sr-only">(current)</span></a></li>
                            <li class="li-1"><a class="a-1" href="#/about">About Us</a></li>
                            <li class="dropdown li-1"><a class="a-1" href="javascript:;">Courses</a>
                                <ul class="dropdown-menu">
                                    <li class="li-2"><a class="a-2" href="#/6_Month_Certification_Course">6-Month Certification Course </a></li>
                                    <li class="li-2"><a class="a-2" href="#/Individual_Lectures">Individual Lectures</a></li>
                                    <li class="li-2"><a class="a-2" href="#/IOTA_Certification_Course">IOTA Certification Program</a></li>
                                </ul>
                            </li>
                            <li class="li-1"><a class="a-1" href="#/lecture">Lectures</a></li>
                            <li class="li-1"><a class="a-1" href="#/freelecture">Free Lectures</a></li>
                            <li class="li-1"><a class="a-1" href="#/faculty">Faculty</a></li>
                            <li class="li-1"><a class="a-1" href="#/contact">Contact</a></li>
                            <li class="li-1"><a class="a-1" href="#/signIn" ng-hide="authenticatedUser.UserInfo.First_Name">Login</a></li>
                            <li class="li-1"><a class="a-1" href="#/signUp" ng-hide="authenticatedUser.UserInfo.First_Name">Register</a></li>
                            <li class="dropdown li-1 state-active">
                                <a class="a-1" href="javascript:;" ng-show="authenticatedUser.UserInfo.First_Name">{{authenticatedUser.UserInfo.First_Name}}</a>
                                <ul class="dropdown-menu">
                                    <li class="li-2"><a class="a-2" href="#/myProfile">My Profile</a></li>
                                    <li class="li-2"><a class="a-2" href="#/training">Training Details</a></li>
                                    <li class="li-2" ng-click="signOut()"><a class="a-2" href="javascript:;">Logout</a></li>
                                </ul>
                            </li>
                            <li class="dropdown li-1" ng-show="authenticatedUser.UserInfo.First_Name">
                                <a class="a-1" href="javascript:;" ng-click="getAllNotification()">
                                    <i class="fa fa-bell" aria-hidden="true" ng-show="authenticatedUser.UserInfo.First_Name">{{notificationCount.length}}</i>
                                </a>
                            </li>
                            <li class="li-3">
                                <a href="https://www.facebook.com/Gynecology-Academy-1776711995945554Gynecology-Academy-1776711995945554" class="btn btn-social-icon btn-facebook" target="_blank"> <i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="container">
            <div class="row page-header banner-page">
                <div class="col-sm-12 col-md-2 sm-center"><img src="gynacApp/local/img/logo.png" alt="logo" /> </div>
                <div class="col-sm-12 col-md-10 sm-center">
                    <h2>ULTRASOUND IN GYNECOLOGY</h2>
                    <h2>6 Month Certification Course</h2>
                </div>
                <!--<div class="col-sm-12 col-md-2 sm-center">
                    <div class='btn-toolbar pull-right'>
                        <div class='btn-group button-effect'> <a href="#/6_Month_Certification_Course#course_Top" class="btn effect custom-effect">APPLY NOW</a> </div>
                    </div>
                </div>-->
            </div>
        </div>
        <!--<div class="logo-sec">
            <div class="logo-1">
                <img src="gynacApp/local/img/GynAc-logo.jpg">
            </div>
            <div class="logo-2">
                <img src="gynacApp/local/img/logo-1.png" class="">
            </div>
        </div>-->
    </div>
    <div class="training" ng-init="slide('next')">
        <h2><strong class="magenta">Training Details</strong></h2>
    </div>
    <div class="container-fluid mypage-all">
        <div class="main-page container">
            <div class="row" style="margin-top:5px;">
                <div class="col-md-12 main-training-left">
                    <div class="training-detail-left">
                        <div class="training-title-left">
                            <h3>TRAINING SUMMARY</h3>
                            <span style="padding-left:20px;">
                                {{ TutorialSummaryTitle }}
                                <!--Course Duration: {{ StartDate | date : 'longDate' }} to {{ EndDate | date : 'longDate' }}
                                (For those opting for the final course completion test, it will be extended up to January 7th, 2018)-->
                            </span>
                        </div>
                        <table class="table" ng-show="tutorialSummary.length > 0">
                            <thead>
                                <tr>

                                    <th rowspan="2">Session No.</th>
                                    <th colspan="2">No. of Lectures</th>
                                    <th colspan="2">No. of Modules - Image Submission</th>

                                </tr>
                                <tr>
                                    <th>Completed</th>
                                    <th>Pending</th>
                                    <th>Completed</th>
                                    <th>Pending</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr ng-repeat="t in tutorialSummary">
                                    
                                    <td>{{ t.SessionName}}</td>
                                    
                                    <td>{{ t.TotalCompletedTalks }}</td>
                                    <td>{{ t.TotalPendingTalks }}</td>
                                    
                                    <!--<td ng-show="t.TotalPendingTalks == 0 "> 0 </td>
                                    <td ng-show="t.TotalPendingTalks == 0 "> 0 </td>-->
                                    <td>{{ t.TotalCompletedModules}}</td>
                                    <td>{{ t.TotalPendingModules }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="tutorialSummary.length == 0" style="text-align:center;">
                            NO Talk Access
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="col-md-12 main-training-left">
                    <div class="training-detail-left">
                        <div class="training-title-left">
                            <h3>Final Test</h3>
                        </div>
                        <p style="padding-left:20px;">Date of Final Test, on completion of course (for certification of competency) to be held in Bangalore: January 7th, 2018</p>
                        <br />
                        <span style="padding-left:20px;">Do you wish to participate?</span>
                        <label class="radio-inline">
                            <input type="radio" name="participate" value="true" ng-model="part" ng-checked="part == true"> Yes<br>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="participate" value="false" ng-model="part" ng-checked="part == false"> No<br>
                        </label>
                        <button ng-click="submitParticipate()" class="btn btn-primary cust-btn" style="margin-left:30px;">Submit</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="col-md-12 main-training-left">
                    <div class="training-detail-left">
                        <div class="training-title-left">
                            <h3>Book Mark List</h3>
                        </div>
                        <div>
                            <div class="col-md-4"></div>
                            <select ng-model="selectuserTalk" class="col-md-4" ng-options="i.TalkId as i.TalkName for i in userTalks" ng-change="getBookmark()">
                                <option value="">Select lecture name</option>
                            </select>
                            <div class="col-md-4"></div>
                            <div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Sr no.</th>
                                            <th>Bookmark Name</th>
                                            <!--<th>Bookmark Time</th>-->
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="i in userBookmark">
                                            <td scope="row">{{$index + 1}}</td>
                                            <td>{{i.BookMarkName}}</td>
                                            <!--<td>{{ i.BookMarkTime }}</td>-->
                                            <td>
                                                <a ng-click="setBookmarkId(i.Id)" class="btn btn-sm btn-default" data-toggle="modal" data-target="#deleteBookmark" data-backdrop="static" data-keyboard="false"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div ng-show="userBookmark.length == 0" style="text-align:center;">
                                    This lecture has no bookmark!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>



    </div>

    <div class="modal fade model-center" id="deleteBookmark">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true">&times;</span> </button>
                    <h4 class="modal-title">Remove Bookmark</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to remove this bookmark?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="removeBookmark()">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</section>