<section class="home" style="margin-bottom:100px;">
    <div class="slider-relative">
        <nav class="navbar navbar-default nav-header">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-list-main" id="bs-example-navbar-collapse-1">
                    <div class="col-sm-12 col-md-12">
                        <ul class="nav navbar-nav navbar-center">
                            <li class="li-1"><a class="a-1" href="#/home">Home <span class="sr-only">(current)</span></a></li>
                            <li class="li-1"><a class="a-1" href="#/about">About GynAc</a></li>
                            <li class="li-1"><a class="a-1" href="#/course">Course</a></li>
                            <li class="li-1"><a class="a-1" href="#/lecture">Lectures</a></li>
                            <li class="li-1"><a class="a-1" href="#/faculty">Faculty</a></li>
                            <!--<li class="dropdown li-1"><a class="a-1" href="javascript:;">My Page</a>
                                <ul class="dropdown-menu">
                                    <li class="li-2"><a class="a-2" href="#/myProfile">My Profile</a></li>
                                    <li class="li-2"><a class="a-2" href="#/training">Training Detail</a></li>
                                </ul>
                            </li>-->
                            <li class="li-1"><a class="a-1" href="#/contact">Contact</a></li>
                            <!--<li class="li-1">
                                <a class="a-1" style="visibility: hidden;" href="javascript:;"></a>
                            </li>-->
                            <li class="li-1 state-active"><a class="a-1" href="#/signIn" ng-hide="authenticatedUser.UserInfo.First_Name">Login</a></li>
                            <li class="dropdown li-1">
                                <a class="a-1" href="javascript:;" ng-show="authenticatedUser.UserInfo.First_Name">{{authenticatedUser.UserInfo.First_Name}}</a>
                                <ul class="dropdown-menu">
                                    <li class="li-2"><a class="a-2" href="#/myProfile">My Profile</a></li>
                                    <li class="li-2"><a class="a-2" href="#/training">Training Detail</a></li>
                                    <li class="li-2" ng-click="signOut()"><a class="a-2" href="javascript:;">Log-out</a></li>
                                </ul>
                            </li>
                            <li class="dropdown li-1">
                                <a class="a-1" href="javascript:;" ng-click="getAllNotification()">
                                    <i class="fa fa-bell" aria-hidden="true" ng-show="authenticatedUser.UserInfo.First_Name">{{notificationCount.length}}</i>
                                </a>
                            </li>
                            <li class="li-3">
                                <a href="https://www.facebook.com/Gynecology-Academy-1776711995945554Gynecology-Academy-1776711995945554" class="btn btn-social-icon btn-facebook" target="_blank"> <i class="fa fa-facebook"></i></a>
                            </li>
                            <!--<li class="li-3"><a class="btn btn-social-icon btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li class="li-3"><a class="btn btn-social-icon btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="container">
            <div class="row page-header banner-page">
                <div class="col-sm-12 col-md-2 sm-center"><img src="gynacApp/local/img/logo.png" alt="logo" /> </div>
                <div class="col-sm-12 col-md-8 sm-center">
                    <h2>ULTRASOUND IN GYNECOLOGY</h2>
                    <h2>Four Month Certification Course</h2>
                </div>
                <div class="col-sm-12 col-md-2 sm-center">
                    <div class='btn-toolbar pull-right'>
                        <div class='btn-group button-effect'> <a href="#/signUp#signTop" class="btn effect custom-effect">APPLY NOW</a> </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="logo-sec">
            <div class="logo-1">
                <img src="gynacApp/local/img/GynAc-logo.jpg">
            </div>
            <div class="logo-2">
                <img src="gynacApp/local/img/logo-1.png" class="">
            </div>
        </div>-->
    </div>
    <div class="container main-body" ng-show="signIn == 1" style="min-height: 330px;" ng-init="slide('next')">
        <div class="col-md-3"></div>
        <div class="col-md-6 main-body-center">
            <div class="col-md-12 well center-inner">
                <h4>Login</h4>
                <div class="col-md-12 center-describe">
                    <div class="col-md-12 all-form error-msg">
                        <div class="col-md-5 input-name"></div>
                        <div class="col-md-5 input-form">
                            <ul>
                                <li ng-show="errorSignIn.emailRequired">Email Id required!!</li>
                                <li ng-show="errorSignIn.emailInvalid">Invalid Email Id</li>
                                <li ng-show="errorSignIn.passwordRequired">Password required!!</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 all-form">
                        <div class="col-md-5 input-name">Email:</div>
                        <div class="col-md-7 input-form">
                            <input type="email" ng-model="user.Email" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12 all-form">
                        <div class="col-md-5 input-name">Password:</div>
                        <div class="col-md-7 input-form">
                            <input ng-model="user.Password" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12 submit-button">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 button-area">
                            <button type="button" class="btn btn-primary button magenta-backgound" ng-click="submitData()" ng-keypress="checkIfEnterKeyWasPressed($event,'login')">Login</button>
                        </div>
                        <div class="col-md-4 padding0" style="cursor: pointer; padding-top: 6px; color: #23527c;"> <span ng-click="signIn = 2">Forgot Password?</span> </div>
                    </div>
                    <div>
                        <p style="padding:15px;margin: 0 0 15px;"><a class="a-1" href="#/signUp" style="font-size: 15px; color: #23527c;">Register here to enroll for the certification course</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-body" ng-show="signIn == 2" style="min-height: 330px;">
        <div class="col-md-3"></div>
        <div class="col-md-6 main-body-center">
            <div class="col-md-12 well center-inner">
                <h4>Forgot Password</h4>
                <div class="col-md-12 center-describe">
                    <div class="col-md-12 all-form error-msg">
                        <div class="col-md-5 input-name"></div>
                        <div class="col-md-5 input-form">
                            <ul>
                                <li ng-show="errorForgot.emailRequired">Email Id required!!</li>
                                <li ng-show="errorForgot.emailInvalid">Invalid Email Id</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 all-form">
                        <div class="col-md-5 input-name">Email:</div>
                        <div class="col-md-7 input-form">
                            <input type="text" ng-model="forgotUser.Email" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12 submit-button">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 button-area">
                            <button type="button" class="btn btn-primary button magenta-backgound" ng-click="forgotPassword()" ng-keypress="checkIfEnterKeyWasPressed($event,'forgotPassword')">Verify</button>
                        </div>
                        <div class="col-md-4 padding0" style="cursor: pointer; padding-top: 6px; color: #23527c;"> <span ng-click="signIn = 1">Login</span> </div>
                    </div>
                    <!--<div>
                                <h2 class="magenta text-center" style="padding:15px">New to GynAc? <a class="a-1" href="#/signUp">Register</a></h2>
                            </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="container main-body" ng-show="signIn == 3">
        <div class="col-md-3"></div>
        <div class="col-md-6 main-body-center">
            <div class="col-md-12 well center-inner">
                <h4>Reset Password</h4>
                <div class="col-md-12 center-describe">
                    <div class="col-md-12 all-form error-msg">
                        <div class="col-md-5 input-name"></div>
                        <div class="col-md-7 input-form">
                            <ul>
                                <li ng-show="errorReset.passwordNotMatch">Password and Repeat Password does not Match!!</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 all-form">
                        <div class="col-md-5 input-name">Password:</div>
                        <div class="col-md-7 input-form">
                            <input ng-model="resetUser.Password" type="password" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12 all-form">
                        <div class="col-md-5 input-name">Conform Password:</div>
                        <div class="col-md-7 input-form">
                            <input ng-model="resetUser.conformPassword" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12 submit-button">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 button-area">
                            <button type="button" class="btn btn-primary button magenta-backgound" ng-click="resetPassword()">Reset Password</button>
                        </div>
                        <div class="col-md-4 padding0" style="cursor: pointer; padding-top: 6px; color: #23527c;"> </div>
                    </div>
                    <!--<div>
                                <h2 class="magenta text-center" style="padding:15px">New to GynAc? <a class="a-1" href="#/signUp">Register</a></h2>
                            </div>-->
                </div>
            </div>
        </div>
    </div>
    <!--Sign in not found modal-->
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" id="triggerNotFoundSigninModal" data-toggle="modal" data-target="#FoundSigninModal" style="display:none">Open Modal</button>
    <!-- Modal -->
    <div id="FoundSigninModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Login</h3>
                </div>
                <div class="modal-body">
                    <p class="text-center" style="color:red">Invalid Email Id or Password!! </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="goToHome()">ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--Sign in not found modal-->
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" id="triggerSucsessfullySigninModal" data-toggle="modal" data-target="#SucsessfullySigninModal" style="display:none">Open Modal</button>
    <!-- Modal -->
    <div id="SucsessfullySigninModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Login</h3>
                </div>
                <div class="modal-body">
                    <p class="text-center">Successful login</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="goToHome()">ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--Forgot password in not found modal-->
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" id="triggerNotFoundForgotPasswordModal" data-toggle="modal" data-target="#ForgotPassword" style="display:none">Open Modal</button>
    <!-- Modal -->
    <div id="ForgotPassword" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Forgot Password</h3>
                </div>
                <div class="modal-body">
                    <p class="text-center" style="color:red">No account avilable with this Email id, Please enter a valid Email id</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--Forgot password in not found modal-->
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" id="triggerSucsessfullyForgotPasswordModal" data-toggle="modal" data-target="#SucsessfullyForgotPasswordModal" style="display:none">Open Modal</button>
    <!-- Modal -->
    <div id="SucsessfullyForgotPasswordModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Forgot Password</h3>
                </div>
                <div class="modal-body">
                    <p class="text-center">Mail sent to your registered email ID</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="goToHome()">ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--Reset password success-->
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" id="triggerSucsessfullyPasswordChangedModal" data-toggle="modal" data-target="#SucsessfullyPasswordChangedModal" style="display:none">Open Modal</button>
    <!-- Modal -->
    <div id="SucsessfullyPasswordChangedModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Reset Password</h3>
                </div>
                <div class="modal-body">
                    <p class="text-center">Password successfully changed</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="goToLogin()">ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" id="triggerEmailPendding" data-toggle="modal" data-target="#EmailPendding" style="display:none">Open Modal</button>
    <!-- Modal -->
    <div id="EmailPendding" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Login</h3>
                </div>
                <div class="modal-body">
                    <p class="text-center" style="color:red" ng-show="!isDisplay">Email id validation pending, please check your email and validate</p>
                    <p class="text-center" style="color:red" ng-show="isDisplay">Already Login!! </p>
                    <br />
                    <span ng-show="isDisplay">Log Out from all another devices? <a ng-click="signOut()" href=""> CLICK HERE</a></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="goToLogin()" ng-show="!isDisplay">ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container main-body" ng-show="signIn == 5" style="min-height: 330px;">

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <p>An OTP has been sent to your registered mobile phone and your email. Please enter the OTP within 5 minutes.</p>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 main-body-center">
                <div class="col-md-12 well center-inner">
                    <h4>One Time Password</h4>
                    <span style="float:right;">{{ counter | secondsToDateTime | date : "mm:ss"}}</span>
                    <div class="col-md-12 center-describe">
                        <div class="col-md-12 all-form">
                            <div class="col-md-5 input-name">OTP: </div>
                            <div class="col-md-7 input-form">
                                <input type="text" ng-model="signin.otp" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12 submit-button">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 button-area">
                                <button type="button" class="btn btn-primary button magenta-backgound" ng-click="checkotp()" ng-disabled="!signin.otp">Verify</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>