<section class="home">
    <div class="slider-relative">
        <nav class="navbar navbar-default nav-header">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-list-main" id="bs-example-navbar-collapse-1">
                    <div class="col-sm-12 col-md-12">
                        <ul class="nav navbar-nav navbar-center">
                            <li class="li-1 state-active"><a class="a-1" href="#/home">Home <span class="sr-only">(current)</span></a></li>
                            <li class="li-1"><a class="a-1" href="#/about">About Us</a></li>
                            <li class="dropdown li-1"><a class="a-1" href="javascript:;">Courses</a>
                                <ul class="dropdown-menu">
                                    <li class="li-2"><a class="a-2" href="#/6_Month_Certification_Course">6-Month Certification Course </a></li>
                                    <li class="li-2"><a class="a-2" href="#/Individual_Lectures">Individual Lectures</a></li>
                                    <li class="li-2"><a class="a-2" href="#/IOTA_Certification_Course">IOTA Certification Program</a></li>
                                </ul>
                            </li>
                            <li class="li-1"><a class="a-1" href="#/lecture">Lectures</a></li>
                            <li class="li-1"><a class="a-1" href="#/freelecture">Free Lectures</a></li>
                            <li class="li-1"><a class="a-1" href="#/faculty">Faculty</a></li>
                            <li class="li-1"><a class="a-1" href="#/contact">Contact</a></li>
                            <li class="li-1"><a class="a-1" href="#/signIn" ng-hide="authenticatedUser.UserInfo.First_Name">Login</a></li>
                            <li class="li-1"><a class="a-1" href="#/signUp" ng-hide="authenticatedUser.UserInfo.First_Name">Register</a></li>
                            <li class="dropdown li-1">
                                <a class="a-1" href="javascript:;" ng-show="authenticatedUser.UserInfo.First_Name">{{authenticatedUser.UserInfo.First_Name}}</a>
                                <ul class="dropdown-menu">
                                    <li class="li-2"><a class="a-2" href="#/myProfile">My Profile</a></li>
                                    <li class="li-2"><a class="a-2" href="#/training">Training Details</a></li>
                                    <li class="li-2" ng-click="signOut()"><a class="a-2" href="javascript:;">Logout</a></li>
                                </ul>
                            </li>
                            <li class="dropdown li-1" ng-show="authenticatedUser.UserInfo.First_Name">
                                <a class="a-1" href="javascript:;" ng-click="getAllNotification()">
                                    <i class="fa fa-bell" aria-hidden="true" ng-show="authenticatedUser.UserInfo.First_Name">{{notificationCount.length}}</i>
                                </a>
                            </li>
                            <li class="li-3">
                                <a href="https://www.facebook.com/Gynecology-Academy-1776711995945554Gynecology-Academy-1776711995945554" class="btn btn-social-icon btn-facebook" target="_blank"> <i class="fa fa-facebook"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>                
        <div class="container">
            <div class="row page-header banner-page">
                <div class="col-sm-12 col-md-2 sm-center"><img src="gynacApp/local/img/logo.png" alt="logo" /> </div>
                <div class="col-sm-12 col-md-8 sm-center">
                    <h2>ULTRASOUND IN GYNECOLOGY</h2>
                    <h2>6 Month Certification Course</h2> </div>
                <!--<div class="col-sm-12 col-md-2 sm-center">
                    <div class='btn-toolbar pull-right'>
                        <div class='btn-group button-effect'> <a href="#/6_Month_Certification_Course#course_Top" class="btn effect custom-effect">APPLY NOW</a> </div>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="container main-body" id="mainBody" ng-init="slide('next')">
            <div class="col-md-3 main-body-left">
                <div class="col-md-12 well left-inner top" id="b2" style="padding-bottom: 10px;">
                    <h4>Testimonials</h4>
                    <div class="col-md-12 describe padding-top10">
                        <p style="padding-right: 15px;padding-left: 15px;">
                            <!--{{previewTestimonial.text}}-->“I had a very enlightening experience during the course of GYNAEC ULTRASOUND conducted by Dr. Mala Sibal and Dr. Sonal Panchal. The topics were discussed threadbare and in specific terms allowing us to have a 360-degree view of the matter involved”
                            <br>
                            <br>
                            <!--<span ng-bind-html="renderHtml(previewTestimonial.uaseName)"></span>--><b>Dr. Dharani Bai G.</b>
                            <br>
                            <br> <a type="button" class="pointer" href="#/testimonial">View All</a> </p>
                    </div>
                </div>


                <div class="col-md-12 well left-inner" id="b3" style="min-height: 382px;">

                    <h4>Suggested References</h4>
                    <div class="col-md-12 describe padding-top10">
                        <a href="http://www.springer.com/in/book/9789811027130" target="_blank">
                            <p style="padding: 0px 10px 10px 10px;"><b>Ultrasound in Gynecology:</b> An Atlas and Guide</p> <img src="gynacApp/local/img/book1.png" style=" width: 100px;
                            margin-left: 10px;"> </a>
                    </div>




                </div>




            </div>
            <div class="col-md-6 main-body-center">
                <div class="col-md-12 well center-inner">
                    <h4>WELCOME TO GYNECOLOGY ACADEMY</h4>
                    <div class="col-md-12">
                        <br>
                        <p>We are excited to bring you, a unique, user-friendly and comprehensive online learning portal for skill enhancement and training in the field of ultrasound imaging in Gynecology.
                        Online learning is a convenient and self-paced way of acquiring specific knowledge and expertise in gynecological ultrasound, at the convenience of your own time and place.</p>
                        <br>
                        <p>If you are a practicing radiologist, gynecologist, sonologist or a medical student, in any country of the world, looking to build your knowledge in the field of Gynecological Ultrasound then you have come to the right place. The lectures and courses are open to candidates from all countries.</p>
                        <br>
                        <p>Our expert faculty with vast experience through their engaging lectures and interactive courses will provide you with an in-depth view of the subject. The courses are supported with abundant illustrations of classical and new ultrasound features in various pathologies including, not only two-dimensional grey scale but Doppler and three-dimensional ultrasound as well.</p>
                        <br>
                        <p>In order to give you a holistic experience and to help you easily understand the techniques of ultrasound imaging, we have incorporated video clips that capture the unique interactive nature of transvaginal scanning.</p>
                        <br>
                        <p>For more information please visit our About GynAc page. If you have any questions or comments, you are welcome to write to us at support@gynac.org</p>
                        <br>
                        <p style="padding-bottom: 10px;">
                        <br> </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 main-body-right">
                <div class="col-md-12 well right-inner" id="b1">
                    <h4>Learning Opportunities</h4>
                    <div class="col-md-12 describe padding-top10">
                        <ul style="padding-right: 15px;">
                            <li class="coursehome">
                                <a class="a-2" href="#/6_Month_Certification_Course">6-Month Certification Course </a>
                                <br>
                                <br>
                            </li>
                            <li class="coursehome">
                                <a class="a-2" href="#/Individual_Lectures">Individual Lectures</a>
                                <br>
                                <br>
                            </li>
                            <li class="coursehome">
                                <a class="a-2" href="#/IOTA_Certification_Course">IOTA Certification Program</a>
                                <br>
                                <br>
                            </li>
                            <li class="coursehome">
                                <a class="a-2" href="#/freelecture">Free Lectures</a>
                                <br>
                                <br>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-12 well right-inner" id="b4" style="min-height: 382px;">

                    <h4>Upcoming Events</h4>

                     <div class="col-md-12 describe padding-top10">
                        <ul style="padding-right: 15px;">
                           
                            <li class="coursehome">
                                <p>IOTA Certification Program on <br><b> 3<sup>rd</sup> May, 2018 </b> in Tehran, Iran at the 34<sup>th</sup> Iranian Congress of Radiology</p>
                                <br>
                            </li>

                            <li class="coursehome">
                                <p>6-Month Certification Course – ‘Ultrasound in Gynecology’ commences on <b>1<sup>st</sup> June, 2018</b></p>
                                <br>
                            </li>

                           

                            <li class="coursehome">
                                <p>IOTA Certification Program on <br><b>8<sup>th</sup> July, 2018 </b> in Hyderabad. Jointly hosted with Fernandez Hospital, Hyderabad</p>
                                <br>
                            </li>

                        </ul>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <!--<div class="modal fade" id="previewModal" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="pusePreviewVideo()" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title text-center magenta">Preview</h2> </div>
                <div class="modal-body" style="max-height: none;">
                    <div class="video-preview-container" ng-show="previewSrc">
                        <video width="100%" id="previewVideo">
                            <source src="" type="video/mp4"> Your browser does not support the video tag. </video>
                    </div>
                    <h4 ng-hide="previewSrc" class="text-center">Preview not available!!</h4> </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="pusePreviewVideo()" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>-->
    <div class="modal fade video" id="video-ID5">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true">&times;</span> </button>
                    <h4 class="modal-title">Enhanced Ultrasound Techniques (Gel Sonovaginography & Sonohysterography)</h4> </div>
                <div class="videoWrapper">
                    <iframe src="https://player.vimeo.com/video/229804378" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade video" id="video-ID6">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true">&times;</span> </button>
                    <h4 class="modal-title">Evaluation of Myometrium & Normal Myometrium</h4> </div>
                <div class="videoWrapper">
                    <iframe src="https://player.vimeo.com/video/229804413"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade video" id="video-ID7">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true">&times;</span> </button>
                    <h4 class="modal-title">Fibroid (Leiomyoma) & Sarcoma</h4> </div>
                <div class="videoWrapper">
                    <iframe src="https://player.vimeo.com/video/229804354"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <!--Sign up found modal-->
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" id="triggerSucsessfullyVerifyEmailModal" data-toggle="modal" data-target="#SucsessfullyVerifyEmailModal" style="display:none">Open Modal</button>
    <!-- Modal -->
    <div id="SucsessfullyVerifyEmailModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Email Verification</h3> </div>
                <div class="modal-body">
                    <p class="text-center">Sucsessfully email verified, Now you can login. </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="goToHome()">ok</button>
                </div>
            </div>
        </div>
    </div>
    <!--Sign up found modal-->
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" id="triggerEmailNotFound" data-toggle="modal" data-target="#EmailNotFound" style="display:none">Open Modal</button>
    <!-- Modal -->
    <div id="EmailNotFound" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Email Verification</h3> </div>
                <div class="modal-body">
                    <p class="text-center" style="color:red">Email Id not Found!!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="goToHome()">ok</button>
                </div>
            </div>
        </div>
    </div>
</section>