<!DOCTYPE HTML>
<html ng-app="gynacApp">
	<head>
		<script src="js/angular.min.js"></script>
		<script>
			var app = angular.module('gynacApp', []);
			app.controller('myCtrl', function($scope){
				$scope.showQusAnsSection = true;
				$scope.qusIndex = 0;
				$scope.qusList = [
					{
						qus: 'Qustion_1',
						optionList: ['A', 'B', 'C', 'D'],
						ans: 'B'
					},
					{
						qus: 'Qustion_2',
						optionList: ['A', 'B', 'D'],
						ans: 'A'
					},
					{
						qus: 'Qustion_3',
						optionList: ['A', 'C', 'D'],
						ans: 'D'
					},
					{
						qus: 'Qustion_4',
						optionList: ['A', 'B', 'C'],
						ans: 'B'
					},
					{
						qus: 'Qustion_5',
						optionList: ['A', 'B', 'C', 'D'],
						ans: 'D'
					},
					{
						qus: 'Qustion_6',
						optionList: ['A','D'],
						ans: 'A'
					}
				];
				
				$scope.navQus = function(status){
					if($scope.qusList[$scope.qusIndex].userAns != $scope.qusList[$scope.qusIndex].ans){
						alert('Please select correct answer');
						return
					}
					if(status){
						$scope.qusIndex++;
					}else{
						$scope.qusIndex--;
					}
				}
				
				$scope.submitList = function(){
					if($scope.qusList[$scope.qusIndex].userAns != $scope.qusList[$scope.qusIndex].ans){
						alert('Please select correct answer');
						return
					}else{
						alert('Data submited successfully!!');
						$scope.showQusAnsSection = false;
					}
				}
				
			})
		</script>
	</head>
	<body ng-controller="myCtrl">
		<div ng-if="showQusAnsSection">
			<h1>{{qusList[qusIndex].qus}}</h1>
			<ul>
				<li ng-repeat="option in qusList[qusIndex].optionList">
					<label><input type="radio" value="{{option}}" ng-model="qusList[qusIndex].userAns"> {{option}}</label>
				</li>
			</ul>
			<button ng-click="navQus(0)" ng-disabled="qusIndex == 0">Previous</button>
			<button ng-click="navQus(1)"  ng-disabled="qusList.length - 1 == qusIndex">Next</button>
			<button ng-click="submitList()"  ng-if="qusList.length - 1 == qusIndex">Submit</button>
		</div>
		<div ng-if="!showQusAnsSection">
			Thank You!!
		</div>
	</body>
</html>