<section class="home faculty">
    <div class="slider-relative">
        <nav class="navbar navbar-default nav-header">
            <div class="container" id="facultyTop">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-list-main" id="bs-example-navbar-collapse-1">
                    <div class="col-sm-12 col-md-12">
                        <ul class="nav navbar-nav navbar-center">
                            <li class="li-1"><a class="a-1" href="#/home">Home <span class="sr-only">(current)</span></a></li>
                            <li class="li-1"><a class="a-1" href="#/about">About GynAc</a></li>
                            <li class="li-1"><a class="a-1" href="#/course">Course</a></li>
                            <li class="li-1"><a class="a-1" href="#/lecture">Lectures</a></li>
                            <li class="li-1 state-active"><a class="a-1" href="#/faculty">Faculty</a></li>
                            <!--<li class="dropdown li-1"><a class="a-1" href="javascript:;">My Page</a>
                                <ul class="dropdown-menu">
                                    <li class="li-2"><a class="a-2" href="#/myProfile">My Profile</a></li>
                                    <li class="li-2"><a class="a-2" href="#/training">Training Detail</a></li>
                                </ul>
                            </li>-->
                            <li class="li-1"><a class="a-1" href="#/contact">Contact</a></li>
                            <!--<li class="li-1">
                                <a class="a-1" style="visibility: hidden;" href="javascript:;"></a>
                            </li>-->
                            <li class="li-1"><a class="a-1" href="#/signIn" ng-hide="authenticatedUser.UserInfo.First_Name">Login</a></li>
                            <li class="dropdown li-1"><a class="a-1" href="javascript:;" ng-show="authenticatedUser.UserInfo.First_Name">{{authenticatedUser.UserInfo.First_Name}}</a>
                                <ul class="dropdown-menu">
                                    <li class="li-2"><a class="a-2" href="#/myProfile">My Profile</a></li>
                                    <li class="li-2"><a class="a-2" href="#/training">Training Detail</a></li>
                                    <li class="li-2" ng-click="signOut()"><a class="a-2" href="javascript:;">Logout</a></li>
                                </ul>
                            </li>
                            <li class="dropdown li-1">
                                <a class="a-1" href="javascript:;" ng-click="getAllNotification()">
                                    <i class="fa fa-bell" aria-hidden="true" ng-show="authenticatedUser.UserInfo.First_Name">{{notificationCount.length}}</i>
                                </a>
                            </li>
                            <li class="li-3">
                                <a href="https://www.facebook.com/Gynecology-Academy-1776711995945554Gynecology-Academy-1776711995945554" class="btn btn-social-icon btn-facebook" target="_blank"> <i class="fa fa-facebook"></i></a>
                            </li>                            
                            <!--<li class="li-3"><a class="btn btn-social-icon btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li class="li-3"><a class="btn btn-social-icon btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="container">
            <div class="row page-header banner-page">
                <div class="col-sm-12 col-md-2 sm-center"><img src="gynacApp/local/img/logo.png" alt="logo" /> </div>
                <div class="col-sm-12 col-md-8 sm-center">
                    <h2>ULTRASOUND IN GYNECOLOGY</h2>
                    <h2>Four Month Certification Course</h2> </div>
                <div class="col-sm-12 col-md-2 sm-center">
                    <div class='btn-toolbar pull-right'>
                        <div class='btn-group button-effect'> <a href="#/signUp#signTop" class="btn effect custom-effect">APPLY NOW</a> </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="logo-sec">
            <div class="logo-1">
                <img src="gynacApp/local/img/GynAc-logo.jpg">
            </div>
            <div class="logo-2">
                <img src="gynacApp/local/img/logo-1.png" class="">
            </div>
        </div>--></div>
    <div class="container faculty-body" style="margin-top:10px" ng-init="slide('next')">
        <div class="row training-header">
            <h2 class="text-center" style="margin-bottom:10px"><strong class="magenta">Faculty</strong></h2> </div>
        <div class="row thumbnail padding15" style="margin-top: 15px;">
            <div class="clearfix"></div>
            <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3" style="border-right: 1px solid rgba(0,0,0,0.3);"> <img src="gynacApp/local/img/profile01.png" width="85%">
                <h4 class="margin-top10">Dr. Mala Sibal </h4>
                <h4 class="margin-top10">Email: mala@gynac.org</h4>
                <!--<p>India</p>-->
            </div>
            <div class="col-xs-9 col-md-9 col-sm-9 col-lg-9 text-justify padding-left30">
                <p> Dr. Mala Sibal is a consultant physician at the Department of Fetal Medicine and Obstetric & Gynecological Ultrasound, Manipal Hospital, Bangalore. Dr. Sibal is also the founder of Gynecology Academy (www.gynac.org), an online learning portal for basic and advanced training in gynecological ultrasound. </p>
                <br>
                <p> She is the author of the book "Ultrasound in Gynecology: An Atlas and Guide" published by Springer in Nov 2016. The book provides a comprehensive coverage of diagnoses across a wide range of gynecological pathologies using various ultrasound techniques. </p>
                <br>
                <p> She has fourteen years of experience in the field of gynecological ultrasound, prior to which she practiced clinical obstetrics and gynecology for seven years. She has also trained and taught several practitioners and medical students in the field of gynecological ultrasound. </p>
                <br>
                <p> Dr. Sibal has been an invited speaker at over 50 national and international conferences on this subject and has authored peer-reviewed journal articles on novel diagnostic ultrasound techniques in the American Journal of Ultrasound in Medicine. She is also a principal investigator in the ongoing International Ovarian Tumor Analysis (IOTA – 5) International Research Program. </p>
                <br>
                <p> She holds a DNB post-graduate degree in Obstetrics and Gynecology and an MBBS graduate degree from Jawaharlal Nehru Medical College, Belgaum, where she stood first in Gynecology. </p>
            </div>
        </div>
        <div class="row thumbnail padding15">
            <div class="clearfix"></div>
            <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3" style="border-right: 1px solid rgba(0,0,0,0.3);"> <img class="margin-left10" src="gynacApp/local/img/profile2.jpg" width="85%">
                <h4 class="margin-top10">Dr. Sonal Panchal</h4>
                <h4 class="margin-top10">Email: sonal@gynac.org</h4>
                <!--<p>India</p>-->
            </div>
            <div class="col-xs-9 col-md-9 col-sm-9 col-lg-9 text-justify padding-left30">
                <!--<ul class="margin-left15">
                            <li>Consultant sonography specialist at Dr. Nagori’s Institute for Infertility and IVF, Ahmedabad.</li>
                            <li>Professor, Dubrovnik International University, Croatia</li>
                            <li>Faculty Ian Donald master’s Courses in Ultrasound in ObGyn. and Master’s courses in Human Reproduction</li>
                            <li>National Academic Director, Ian Donald School, India.</li>
                            <li>Specialized and dedicated to Infertility, Gyneac and high risk obstetric scans with dopplers and 3D-4D ultrasound.</li>
                            <li>Centre of Excellence for Ian Donald School inter-university of medical ultrasound.</li>
                            <li>Original research work on follicular monitoring, endometrial receptivity and PCOS.</li>
                            <li>Contributed in , authored and edited several books.</li>
                            <li>Presented and published several papers at National and International conferences and in several journals.</li>
                            <li>Faculty for 3D-4D US and US in infertility training programs in India and abroad.</li>
                            <li>National advisory board member for International journal of infertility and fetal medicine, Jaypee publication</li>
                            <li>Reviewer for several journals.</li>
                        </ul>
                        <h3>Special achievements:</h3>
                        <ul class="margin-left15">
                            <li>Diploma of Appreciation from Ian Donald Inter-University School of Medical Ultrasound, 2015, for training maximum number of fellowship students.</li>
                        </ul>-->
                <p> Dr. Sonal Panchal is a specialist in the areas of Infertility, Gynecology and high-risk Obstetric scans using Doppler and 3D-4D ultrasound. </p>
                <br>
                <p> She is a Consultant Sonologist at Dr. Nagori’s Institute for Infertility and IVF, Ahmedabad. Dr. Nagori’s Institute has been awarded the status of a Centre of Excellence by the Ian Donald Inter-University School of Medical Ultrasound under her directorship. </p>
                <br>
                <p> She is also a professor at Dubrovnik International University, Croatia, and is the National Academic Director of Ian Donald School, India where she also offers Master’s Courses in Ultrasound in ObGyn and Human Reproduction. </p>
                <br>
                <p> She has conducted original research work on follicular monitoring, endometrial receptivity and polycystic ovarian syndrome. She has also contributed to, co-authored and edited several books. </p>
                <br>
                <p> She has also published articles in several journals and has presented several papers at national and international conferences. She is a member of the National Advisory Board for the International Journal of Infertility and Fetal Medicine (Jaypee publication) and serves as a reviewer for several journals. </p>
                <br>
                <p> She has been honoured with Diploma of Appreciation from the Ian Donald Inter-University School of Medical Ultrasound, 2015, for training the maximum number of fellowship students. </p>
            </div>
        </div>
        <!--<div class="row thumbnail padding15">
            <div class="clearfix"></div>
            <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3" style="border-right: 1px solid rgba(0,0,0,0.3);"> <img class="margin-left10" src="gynacApp/local/img/profile3.png" width="85%">
                <h4 class="margin-top10">Dr. Nitin Chaubal</h4>
                <h4 class="margin-top10">Email: nitin@gynac.org</h4>
            </div>
            <div class="col-xs-9 col-md-9 col-sm-9 col-lg-9 text-justify padding-left30">                
                <p>Dr. Nitin Chaubal, MD, DMRD, is a Consultant at Jaslok Hospital and Research Centre, Mumbai (India), and a Director at Thane Ultrasound Centre, Thane (India) since 1986. </p>
                <br>
                <p> He is a Fellow of the American Institute of Ultrasound in Medicine (USA), Fellow of the Indian College of Radiology & Imaging, Fellow of the Indian College of Medicine in Ultrasound, and Fellow of the Society of Radiologists in Ultrasound (USA). </p>
                <br>
                <p> He has published many scientific articles in national and international peer reviewed journals. He has been an invited speaker at numerous international conferences such as the ISUM (Indonesian Society of Ultrasound), SRU (Society of Radiologists in Ultrasound), WFUMB (World Federation of Ultrasound in Medicine & Biology), AFSUMB (Asian Federation of Societies for Ultrasound in Medicine and Biology) as well as AIUM (American Institute of Ultrasound in Medicine). In 2016 he was an invited speaker at RSNA (Radiological Society of North America). He has also been invited to record and offer his lectures for Sonoworld. </p>
                <br>
                <p> He has served on the editorial boards of several journals, including the Indian Journal of Ultrasound, the IFUMB Journal, Biomedical Imaging and Intervention Journal of Malaysia, and the Korean Journal of Ultrasound in Medicine and Biology. </p>
                <br>
                <p> He was the President of the Indian Federation of Ultrasound in Medicine and Biology, Board Member of the International Advisory Committee for Ultrasound GI–Philips International, Chairman of the Scientific Committee of the Asian Federation of Societies in Ultrasound in Medicine and Biology and a member on the WFUMB committee in establishing International guidelines for contrast enhanced ultrasound. </p>
                <br>
                <p> He has conducted numerous workshops in Ultrasound & Color Doppler in India, Malaysia, Kenya, Dubai, Indonesia and USA, and short term CME (Continuing Medical Education) courses across India. </p>
                <br>
                <p> He has received many awards and orations including the Dr. J.C. Bose Oration at the Indian Radiological & Imaging Association meet, Jisan Lecture Oration of the Korean Society of Ultrasound in Medicine, Seoul and and award of recognition by the SUMROC (Taiwan Society of Ultrasound). </p>
                <br>
                <p> Dr. Chaubal is interested in Contrast Ultrasound of the Liver and non-Liver applications, and in various applications of Elastography. </p>
                <br>
                <p> He received his Medical Degree from Mumbai University, India in 1979, and his post graduation (MD) from University of Mumbai in 1984. </p>
                <br> </div>
        </div>-->
    </div>
</section>